div{
    background-color: #E4F9F5;
}
h1{
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
body{
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 0;
}
.xc{
    margin-bottom: 2px;
}
.mr{
    margin: 0px;
}

.top {
    text-align: center;
    margin: 0px;
}
.born{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.bottom-cloud{
    position: absolute;
    
}
.top-cloud{
   padding-top: 100px;
   position: relative ;
   left: 200px;
}
